name: Download Bazelisk

on:
  # This makes the workflow reusable
  workflow_call:
    inputs:
      bazel_version:
        description: "Bazel version to use (example: 7.0.2 or latest)"
        required: false
        type: string
        default: "latest"

      verify_install:
        description: "Whether to print bazel version after install"
        required: false
        type: boolean
        default: true

jobs:
  setup-bazelisk:
    runs-on: ubuntu-latest

    steps:
      - name: Download Bazelisk
        run: |
          curl -L https://github.com/bazelbuild/bazelisk/releases/latest/download/bazelisk-linux-amd64 \
            -o bazelisk
          chmod +x bazelisk
          sudo mv bazelisk /usr/local/bin/bazel

      - name: Set Bazel version (optional)
        # Bazelisk respects USE_BAZEL_VERSION
        run: echo "USE_BAZEL_VERSION=${{ inputs.bazel_version }}" >> $GITHUB_ENV

      - name: Verify Bazel installation
        if: ${{ inputs.verify_install }}
        run: bazel --version
